body{

}
.liquid{
    position: relative;
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-content: center;
    background-color: red;

}
.liquid h1{
    position:absolute;
    font-size:25vw;

}
.liquid h1:nth-child(1){
    color:white;
    text-shadow: -2px 2px 0px rgb(0, 0, 0) ;
    text-shadow: -4px 4px 0px rgb(0, 0, 0) ;
    text-shadow: -6px 6px 0px rgb(0, 0, 0) ;
    text-shadow: -8px 8px 0px rgb(0, 0, 0) ;
    text-shadow: -18px 18px 20px rgb(0, 0, 0,0.5) ;
    
}
.liquid h1:nth-child(2){
    color:blue;
    opacity:0.5;
    animation: animate 3s ease-in-out infinite;
}
.liquid h1:nth-child(3){
    color:blue;
    opacity:0.5;
    animation: animate 6s ease-in-out infinite;
}
.liquid h1:nth-child(4){
    color:blue;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate{
    0%,100%{
        clip-path: polygon(0 45%, 19% 48%, 35% 53%, 52% 65%, 68% 68%, 85% 62%, 100% 55%, 100% 100%, 0% 100%);

    }
    50%{
        clip-path: polygon(0 64%, 17% 65%, 32% 61%, 52% 51%, 70% 45%, 87% 41%, 100% 39%, 100% 100%, 0% 100%);

    }
    
}